.App{
  font-family: monospace;

  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  padding-top: 80px;

  text-align: center;

  color: #f2f2f2;
  background-color: #1a1a1a;
}
.App *{
  transition: all ease .25s;
}

.clickable{
  cursor: pointer;
}

.mobile-container{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 5px 10px;
}

.spinner{
  position: relative;

  width: 40px;
  height: 40px;
  margin: 100px auto;

  animation: sk-rotate 2.0s infinite linear;
  text-align: center;
}

.dot1,
.dot2{
  position: absolute;
  top: 0;

  display: inline-block;

  width: 60%;
  height: 60%;

  animation: sk-bounce 2.0s infinite ease-in-out;

  border-radius: 100%;
  background-color: #d0d5cf;
}

.dot2{
  top: auto;
  bottom: 0;

  animation-delay: -1.0s;
}

@keyframes sk-rotate{
  100%
{
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
}

@keyframes sk-bounce{
  0%,
  100%
{
      -webkit-transform: scale(0);
              transform: scale(0);
  }
  50%
{
      -webkit-transform: scale(1);
              transform: scale(1);
  }
}

.header .navbar.navbar-dark{
  position: fixed;
  z-index: 999;
  top: 0;

  width: 100%;
  padding: 0;

  color: white;
  background: black;
  box-shadow: 0 0 10px rgba(254, 255, 0, .760784);
}
.header .navbar.navbar-dark .navbar-nav .nav-link{
  color: #990;
}
.header .navbar.navbar-dark .navbar-nav .nav-link:hover,
.header .navbar.navbar-dark .navbar-nav .nav-link:active,
.header .navbar.navbar-dark .navbar-nav .nav-link:focus{
  color: #ff3;
}
.header .navbar.navbar-dark .navbar-toggler{
  border: none;
}
.header .navbar.navbar-dark .navbar-brand img{
  height: 60px;
}

.header .navbar .mobile-container{
  position: relative;

  display: flex;

  margin: 0 auto;
  padding: 0 10px;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header .stucker{
  display: block;

  width: 100%;
  height: 71px;

  background: transparent;
}

.people-page .page-link{
  color: white;
  border: none;
  background: black;
}

.people-page h1.title{
  font-family: monospace;
  font-size: 20px;

  display: flex;

  vertical-align: center;

  color: yellow;
  text-shadow: 0 0 5px rgba(255, 219, 19, .6);

  align-items: center;
  justify-content: center;
}

.people-page .yellow-stroke{
  font-family: monospace;
  font-size: 50px;
  font-style: italic;

  margin: 0 20px;

  color: transparent;
  text-shadow: none;
  text-shadow: 0 0 15px rgba(249, 255, 74, .6);

  -webkit-text-stroke: 3px yellow;
}

.people-page .people-card-wrapper{
  display: flex;

  padding-top: 50px;

  flex-wrap: wrap;
  align-items: stretch;
  justify-content: start;
}

.people-page .person.card{
  margin: 20px 10px;

  text-align: left;

  color: white;
  border: none;
  background: black;

  flex-basis: 210px;
}
.people-page .person.card:hover{
  background: black;
  box-shadow: 0 0 20px rgba(28, 237, 225, .33);
}
.people-page .person.card .card-body{
  position: relative;

  padding-bottom: 50px;
}
.people-page .person.card .card-body .btn.btn-details{
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;

  width: calc(100% - 20px);
  margin: 0 auto;
}
.people-page .person.card .fake-img{
  display: block;

  height: 120px;
}
.people-page .person.card .card-title{
  font-weight: bold;

  color: yellow;
}
.flex-1{
  flex: 1;
}
