.App {
  text-align: center;
  background-color: #1a1a1a;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  color: #f2f2f2;
  padding-top: 80px;
  font-family: monospace; }
  .App * {
    transition: all ease .25s; }

.clickable {
  cursor: pointer; }

.mobile-container {
  width: 100%;
  max-width: 540px;
  padding: 5px 10px;
  margin: 0 auto; }

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  animation: sk-rotate 2.0s infinite linear; }

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #d0d5cf;
  border-radius: 100%;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.dot2 {
  top: auto;
  bottom: 0;
  animation-delay: -1.0s; }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.header .navbar.navbar-dark {
  background: black;
  padding: 0;
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 10px rgba(254, 255, 0, 0.760784); }
  .header .navbar.navbar-dark .navbar-nav .nav-link {
    color: #999900; }
    .header .navbar.navbar-dark .navbar-nav .nav-link:hover, .header .navbar.navbar-dark .navbar-nav .nav-link:active, .header .navbar.navbar-dark .navbar-nav .nav-link:focus {
      color: #ffff33; }
  .header .navbar.navbar-dark .navbar-toggler {
    border: none; }
  .header .navbar.navbar-dark .navbar-brand img {
    height: 60px; }

.header .navbar .mobile-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 auto; }

.header .stucker {
  height: 71px;
  display: block;
  background: transparent;
  width: 100%; }

.people-page .page-link {
  background: black;
  color: white;
  border: none; }

.people-page h1.title {
  color: yellow;
  text-shadow: 0 0 5px rgba(255, 219, 19, 0.6);
  font-size: 20px;
  font-family: monospace;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.people-page .yellow-stroke {
  margin: 0 20px;
  font-family: monospace;
  -webkit-text-stroke: 3px yellow;
  color: transparent;
  font-size: 50px;
  text-shadow: none;
  font-style: italic;
  text-shadow: 0 0 15px rgba(249, 255, 74, 0.6); }

.people-page .people-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: start;
  padding-top: 50px; }

.people-page .person.card {
  border: none;
  flex-basis: 210px;
  color: white;
  background: black;
  margin: 20px 10px;
  text-align: left; }
  .people-page .person.card:hover {
    background: black;
    box-shadow: 0 0 20px rgba(28, 237, 225, 0.33); }
  .people-page .person.card .card-body {
    position: relative;
    padding-bottom: 50px; }
    .people-page .person.card .card-body .btn.btn-details {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 20px);
      left: 0;
      right: 0;
      margin: 0 auto; }
  .people-page .person.card .fake-img {
    height: 120px;
    display: block; }
  .people-page .person.card .card-title {
    font-weight: bold;
    color: yellow; }
